$orange: #FA9D00;
$yellow: #F1C40F;
$red: #ED3624;
$dark_red: #B51515;
$green: #60BA46;
$middle_green: #428030;
$dark_green: #00733B;
$blue: #006FFF;
$white: #F8F8F8;
$light_gray: #d9d9d9;
$gray: #969696;
$dark_gray: #646464;
$black: #000000;
