@import "colors";
@import "media_query";

form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid $gray;
    border-radius: 10px;
    background: white;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;

    &.dirty {
      border-color: $green;

      &:focus {
        outline-color: $green;
      }
    }

    &.error {
      border-color: $red;

      &:focus {
        outline-color: $red;
      }
    }
  }

  button {
    font-family: 'Berlin Sans FB', sans-serif;
    width: 100%;
    height: 3rem;
    border: 2px solid transparent;
    color: white;
    margin-top: 2.5rem;
    background: $blue;
    border-radius: 10px;

    &:disabled {
      background: $gray;
    }
  }

  .input-errors {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .error-msg {
    color: $red;
    text-align: left;
  }

  .router-link {
    color: $black;
  }
}

@include media-query() {
  form {
    width: 40%;
  }
}