// $default-min-width: 768px;
$default-min-width: calc(100vh / 16 * 9);

@mixin media-query($min-width: $default-min-width, $logo-width: 15%) {
  @media screen and (min-width: 425px) {
    .view-container {
      width: $min-width;
      margin: 0 auto 0 auto;

      .logo {
        width: $logo-width;
      }

      @content;
    }
  }
}

@mixin navbar-media-query($min-width: $default-min-width) {
  @media screen and (min-width: 425px) {
    .nav-bar-wrapper {
      width: $min-width;
      left: auto;
    }
  }
}

@mixin header-media-query($min-width: $default-min-width) {
  @media screen and (min-width: 425px) {
    .header-wrapper {
      width: $min-width;
      left: auto;
    }
  }
}

@mixin spot-info-media-query($min-width: $default-min-width) {
  @media screen and (min-width: 425px) {
    .info-wrapper {
      width: $min-width;
      left: auto;
    }
  }
}

@mixin overlay-media-query($min-width: $default-min-width) {
  @media screen and (min-width: 425px) {
    .overlay-wrapper {
      .overlay-background {
        .overlay-container {
          width: calc($min-width / 1.5);
        }
      }
    }
  }
}